---
layout: default
---

<div class="home">

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          {% for category in post.categories %}
            <a class="post-link">[{{ category | capitalize }}]</a>
          {% endfor %}
          
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>

        <div class="post-tags">
          {% for tag in post.tags %}
            <a class="post-tag" href="">{{ tag }}</a>
          {% endfor %}
        </div>
        
        <div class="post-excert">{{ post.description | markdownify }}</div>

        <small><a href="{{ post.url | prepend: site.baseurl }}">(Read more)</a></small>
      </li>
    {% endfor %}
  </ul>

</div>
